**/__pycache__/*
**/.ipynb_checkpoints/*
**/.DS_Store
poetry.lock

# confidential data
Input_processed_data
src/datasets*

# paper drafts
drafts
figs

# logs
**/*.log

# trained models
src/models
src/results

# preprocess scripts
src/preprocessing
src/df_preprocess.py

# notebooks
**/*.ipynb
!src/experiment.ipynb
